.createPost {
  border: 2px solid sandybrown;
  margin: 0.1rem;
  padding: 1rem;

  .createPostForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
