@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

body {
  font-family: 'Lobster Two', cursive;
  font-weight: lighter;
  letter-spacing: 3px;
  background-color: rgb(236, 231, 222);
}
