@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 1px;
  background-color: rgb(236, 231, 222);
}
